footer {
  padding: 2em 1em 6em 1em;
  background: rgba(var(--white), 40%);
  color: rgb(var(--gray));
  text-align: center;

  /* Transgender gradient thanks to https://cesque.com/gaydient/ */
  border-image-slice: 1;
  border-bottom: 4px solid;
  border-image-source: linear-gradient(
    to right,
    rgb(85, 205, 252),
    rgb(179, 157, 233),
    rgb(247, 168, 184),
    rgb(246, 216, 221),
    rgb(255, 255, 255) 45%,
    rgb(255, 255, 255),
    rgb(255, 255, 255) 55%,
    rgb(246, 216, 221),
    rgb(247, 168, 184),
    rgb(179, 157, 233),
    rgb(85, 205, 252)
  );
}
