<!doctype html>
<html lang='en'>
  <head>
    <%- include('/base-head.ejs') %>
  </head>

  <body>
    <%- include('/header.ejs') %>

    <main><%- content %></main>

    <%- include('/footer.ejs') %>
  </body>
</html>
