---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_DESCRIPTION, SITE_EMAIL } from '../consts';
import { Image } from 'astro:assets';
import NatalieImage from '../assets/natalie-1.jpg';
---

<!doctype html>
<html lang='en'>
  <head>
    <BaseHead description={SITE_DESCRIPTION} />
  </head>

  <body>
    <Header />

    <main>
      <h1>Natalie Rose</h1>

      <div class='portrait'>
        <Image src={NatalieImage} alt='Natalie standing in Federation Square in Melbourne' loading='eager' />
      </div>

      <p class='text-center'>🏳️‍⚧️ 🏳️‍🌈</p>

      <p>
        Queer woman with a spicy brain. Web developer, fast car enjoyer and occasional musician. Interested in making
        the web a better place for everyone! ✨
      </p>

      <p class='text-center'>💼 💼</p>

      <p>
        I am currently working on a global commercial people logistics solution as a Senior Developer. I also devote my
        spare time to working on a few community projects including
        <a href='https://www.thegrantshub.com.au/' target='_blank'>The Grants Hub</a>
        and an open source reboot of The Lacuna Expanse called
        <a href='https://tlecommunity.com' target='_blank'>TLE Community</a>.
      </p>

      <p>
        I'm available for consulting work with 5+ years of experience in: JavaScript/TypeScript, Ruby on Rails, Node.js,
        Perl, PHP, MySQL/MongoDB, React/Vue, and various CSS frameworks.
      </p>

      <p>
        Contact me via <a href={`mailto:${SITE_EMAIL}`}>{SITE_EMAIL}</a>
      </p>

      <p class='text-center'>🎶 🎶</p>

      <p>
        Musically, I play bass in the band
        <a href='https://www.youtube.com/watch?v=lhxJcr4g4WI' target='_blank'>Diaspora the Explorer</a>, with some other
        projects in the works. Occasionally I upload tunes to my
        <a href='https://www.youtube.com/watch?v=5NbKaZNvsHI' target='_blank'>YouTube channel</a>.
      </p>

      <h2>Sitemap</h2>

      <p>Links for navigating around this website</p>

      <ul>
        <li><a href='/blog'>Blog</a>: read the latest updates</li>
        <li><a href='/fundamentals'>Fundamentals</a>: some quotes and ideas I find inspirational</li>
        <li><a href='/now'>Now</a>: what I'm thinking about and doing at the moment</li>
        <li><a href='/recommendations'>Recommendations</a>: things I would recommend to pretty much anyone</li>
        <li><a href='/statement-on-ai'>Statement on AI</a>: thinking is hard but good</li>
        <li><a href='/dotfiles'>Dotfiles</a>: old fashioned unix-y goodness</li>
        <li><a href='/drives'>Drives</a>: Long/interesting drives I've done due to chronic car love</li>
        <li><a href='/laws'>Laws</a>: A collection of interesting laws and anecdotes</li>
        <li><a href='/feeds'>Feeds</a>: Feeds from this site that can be subscribed to</li>
        <li><a href='/lacuna-ui-prototype'>Lacuna UI Prototype</a>: <i>blog post about this coming soon..</i></li>
      </ul>
    </main>

    <Footer />
  </body>
</html>
